# See documentation for gitignore at https://git-scm.com/docs/gitignore or man(5).
# A global gitignore file should be created to ignore typical temporary files.
# Use the tool gi at https://www.gitignore.io to provide this.

# Ignore composer binary
composer.phar

# Ignore other projects git repositories
/vendor/**/.git
/assets/**/.git
/web/**/.git

# Ignore build caches
/**/.sass-cache

# Ignore configuration files that may contain sensitive information
/*/sites/*/*settings*.php
/*/sites/*/*services*.yml
!/*/sites/*/default.settings.php
!/*/sites/*/default.services.yml

# Ignore paths that may contain user-generated content
/*/sites/*/files
/*/sites/*/public
/*/sites/*/private
/*/sites/*/files-public
/*/sites/*/files-private

# Ignore paths that may contain temporary files
/*/sites/*/translations
/*/sites/*/tmp
/*/sites/*/cache
