# These .gitignore rules are for developing the boilerplate.
# You should use the rules provided in .gitignore.example for projects.

# Ignore composer binary and lock file
composer.phar
composer.lock

# Ignore custom composer configuration
/config/composer/composer.local.json
/config/composer/composer.json
/config/composer/*/*

# Ignore files deployed in vendor, assets and app
/vendor/
/assets/
/app/
